<% include header %>
<header>
  <div class='header'>
    <h1><%= title %></h1>
  </div>
</header>
<div class='villubox'>
  <h1 class='villuskilabod'><%= skilabod %></h1>
  <a class='tilbaka' href='/'>Til baka</a>
</div>
<% include footer %>
